<div class = "container">
    <app-cockpit
    (serverCreated) = "onServerAdded($event)"
    (blueprintCreated) = "onBlueprintAdded($event)"
    ></app-cockpit>
    <hr>
    <div class = "row">
        <div class = "col-xs-12">
            <button class = 'btn btn-primary' (click) = "onchangeFirst()"> Change first element</button>
            <app-server-element
            *ngFor = "let Element of serverElements"
            [srvElement] = "Element"
            [name] = " Element.name "></app-server-element>
        </div>
    </div>
    <div>
        <button class = "list-group" (click) = "OnlyOdd = !OnlyOdd">
            OnlyOdd
        </button>
        <div *ngIf = "OnlyOdd">
            <li class = "list-group-item" *ngFor = "let odd of odds">
                {{ odd }}
            </li>
        </div>
        <div *ngIf = "!OnlyOdd">
            <li class = "list-group-item" *ngFor = "let even of evens">
                {{ even }}
            </li>
        </div>
    </div>
    <p appHighlight>  Try highlight</p>
</div>
