<div class = "container">
    <app-cockpit
    (serverCreated) = "onServerAdded($event)"
    (blueprintCreated) = "onBlueprintAdded($event)"
    ></app-cockpit>
    <hr>
    <div class = "row">
        <div class = "col-xs-12">
            <button class = 'btn btn-primary' (click) = "onchangeFirst()"> Change first element</button>
            <app-server-element
            *ngFor = "let Element of serverElements"
            [srvElement] = "Element"
            [name] = " Element.name "></app-server-element>
        </div>
    </div>
    <div>
        <button class = "btn btn-danger" (click) = "OnlyOdd = !OnlyOdd">
            OnlyOdd
        </button>
        <div *ngIf = "OnlyOdd">
            <li class = "list-group-item" *ngFor = "let odd of odds">
                {{ odd }}
            </li>
        </div>
        <div *ngIf = "!OnlyOdd">
            <li class = "list-group-item" *ngFor = "let even of evens">
                {{ even }}
            </li>
        </div>
        <ng-template [ngIf] = "!OnlyOdd">
            <div *ngIf = "!OnlyOdd">
                <li class = "list-group-item" *ngFor = "let even of evens">
                    {{ even }}
                </li>
            </div>
        </ng-template>
    </div>
    <p appHighlight [defaultColor] = "'yellow'" [highlightColor] = "'red'">  Try highlight</p>
    <button class = "btn btn-danger " (click) = "onStart()"> setTimeInterval</button>
    <div [ngSwitch] = "value">
        <p *ngSwitchCase ="5">Value is 5</p>
        <p *ngSwitchCase ="8">Value is 8</p>
        <p *ngSwitchCase ="12">Value is 12</p>
        <p *ngSwitchDefault>Value is default</p>
    </div>
    <button class = "btn-primary" (click) = "onStop()"> Stop</button>
</div>
